html, body
{
    width: 100%;
    height: 100%;
    background: url("backgrd.webp");
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title
{
    font-size: 200%;
    color: rgb(112, 112, 249);

    opacity: 0;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-name: title;
}

@keyframes title
{
    30% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}

.texte
{
    color: yellow;    
    font-size: 1500%;
    text-align: center;

    width: 75%;
    position: absolute;
    margin-left: center;
    margin-right: center;
    top: auto;
    bottom: 0;
    height: 100em;

    transform-origin: center bottom;
    transform: perspective(300px) rotateX(25deg);
}

.texte > blockquote
{
    position: absolute;
    top: 300%; 

    animation-delay: 4s;
    animation-duration: 30s;
    animation-name: texte;
    animation-timing-function: linear;
}

@keyframes texte {
    0% { top: 100%; }
    80% { opacity: 1; }
    100%
    {
        top: 0;
        opacity: 0;
    }
}